<section class="ventana-modal">
    <div class="contenido-modal">
      <button class="modal-close" (click)="onNoClick()">&times;</button>
      <h3>Esta es la información que ingresó</h3>
      <section class="credentials">
        <form action="" class="login">
          <label for="nombre">Nombre(s)</label>
          <input type="text" name="nombre" id="nombre" disabled [value]="usuario.name">
  
          <label for="apellido-paterno">Apellido Paterno</label>
          <input type="text" name="apellido-paterno" id="apellido-paterno" disabled [value]="usuario.lastName">
  
          <label for="apellido-materno">Apellido Materno</label>
          <input type="text" name="apellido-materno" id="apellido-materno" disabled [value]="usuario.motherLastName">
  
          <label for="correo">Correo</label>
          <input type="email" name="correo" id="correo" disabled [value]="usuario.emailAddress">
  
          <label for="telefono">Teléfono</label>
          <input type="tel" name="telefono" id="telefono" disabled [value]="usuario.cellPhone">
  
          <label for="telefono-auxiliar">Teléfono familiar</label>
          <input type="tel" name="telefono" id="telefono-auxiliar" disabled [value]="usuario.auxiliaryCellPhone">
  
          <label for="genero">Género </label>
          <div class="genero" [ngSwitch]="usuario.sex">
            <div *ngSwitchCase="'Masculino'">
              <label><input type="radio" name="genero" checked>Masc.</label>
              <label><input type="radio" name="genero" disabled>Fem.</label>
              <label><input type="radio" name="genero" disabled>No especificar</label>
            </div>
            <div *ngSwitchCase="'Femenino'">
              <label><input type="radio" name="genero" disabled>Masc.</label>
              <label><input type="radio" name="genero" checked>Fem.</label>
              <label><input type="radio" name="genero" disabled>No especificar</label>
            </div>
            <div *ngSwitchCase="'No especificar'">
              <label><input type="radio" name="genero" disabled>Masc.</label>
              <label><input type="radio" name="genero" disabled>Fem.</label>
              <label><input type="radio" name="genero" checked>No especificar</label>
            </div>
          </div>
  
          <label for="alergia">Alergias </label>
          <select name="alergia" id="alergia" disabled>
            <option [value]="usuario.allergies">{{usuario.allergies}}</option>
          </select>
  
          <label for="enfermedad">Enfermedades crónicas </label>
          <select name="enfermedad" id="enfermedad" disabled>
            <option [value]="usuario.criticalIllnes">{{usuario.criticalIllnes}}</option>
          </select>
  
          <input type="hidden" name="password" id="password" disabled [value]="usuario.password">
          
          <p>¿Resistrar estos datos?</p>
          <a class="btn-login" routerLink="/login" (click)="onNoClick(); agregarMsj();">
            <!-- <input type="submit" value="Continuar" routerLink="/login"> -->
            <p>Continuar</p>
          </a>
  
          
        </form>
        <section class="inferior">
          <!-- <a class="btn-login" routerLink="/registro"> -->
          <a class="btn-login" (click)="onNoClick()">
            <!-- <input type="submit" value="Continuar" routerLink="/login"> -->
            <p>Regresar</p>
          </a>
        </section>
        
      </section> 
          
    </div>
  </section>